body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.login-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #4A90E2;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1em;
}

.login-form button {
    padding: 10px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #357ABD;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left {
    width: 20%;
    background-color: lightgrey;
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px solid black;
}

.left h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: black;
}

.history {
    display: flex;
    flex-direction: column;
}

#history-list {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #fff;
}

.newpass {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
    padding: 10px;
    border-bottom: 2px solid black;
}

.newpass h2 {
    color: black;
}

.newpass input, .newpass button {
    margin-bottom: 10px;
}

#search {
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 0px;
    
}

.passwords {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    padding: 10px;
    overflow-y: auto;
    max-height: 70%;
}

.password-tile {
    min-width: 200px;
    max-width: 100%;
    height: 100px;
    margin: 10px;
    padding: 10px;
    background-color: white ;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
}

.password-tile:hover {
    transform: scale(1.05);
}

.password-tile h3 {
    margin: 0;
    word-wrap: break-word;
    flex-grow: 1;
}

.password-tile .details {
    display: none;
}

.password-tile:hover .details {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    box-sizing: border-box;
    z-index: 1;
}
.hidden {
    display: none;
}